In [31]:
import pandas as pd

In [32]:
pd.__version__

'2.1.4'

In [33]:
dict_measures = {
    'age': [15, 18, 25, 25, 40, 55, 58, 60, 80],
    'height': [160, 162, 165, 168, 172, 174, 174, 174, 176],
}

In [34]:
dict_measures

{'age': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [35]:
df_measures = pd.DataFrame.from_dict(dict_measures)

In [36]:
df_measures

   age  height
0   15     160
1   18     162
2   25     165
3   25     168
4   40     172
5   55     174
6   58     174
7   60     174
8   80     176

## Summary measures

### Position Measurements

In [37]:
# Mean
df_measures["age"].mean()

41.77777777777778

In [38]:
# Median
df_measures["age"].median()

40.0

In [39]:
# Mode
df_measures["age"].mode()

0    25
Name: age, dtype: int64

In [40]:
# Mode (2)
df_measures["height"].mode()

0    174
Name: height, dtype: int64