In [54]:
import pandas as pd

In [55]:
pd.__version__

'2.1.4'

In [56]:
dict_measures = {
    'age': [15, 18, 25, 25, 40, 55, 58, 60, 80],
    'height': [160, 162, 165, 168, 172, 174, 174, 174, 176],
}

In [57]:
dict_measures

{'age': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [58]:
df_measures = pd.DataFrame.from_dict(dict_measures)

In [59]:
df_measures

   age  height
0   15     160
1   18     162
2   25     165
3   25     168
4   40     172
5   55     174
6   58     174
7   60     174
8   80     176

## Summary measures

### Position Measurements

In [60]:
# Mean
df_measures["age"].mean()

41.77777777777778

In [61]:
# Median
df_measures["age"].median()

40.0

In [62]:
# Mode
df_measures["age"].mode()

0    25
Name: age, dtype: int64

In [63]:
# Mode (2)
df_measures["height"].mode()

0    174
Name: height, dtype: int64

### Dispersion Measures

In [64]:
# Variance
df_measures.age.var()

509.94444444444446

In [65]:
# Standard deviation
df_measures.age.std()

22.58194952709895

In [66]:
# Variance coefficient - Age
df_measures.age.std() / df_measures.age.mean() * 100

54.05253876167302

In [67]:
# Variance coefficient - Height
df_measures.height.std() / df_measures.height.mean() * 100

3.4803552812368785

### Shape measurements

In [68]:
# Asymmetry - Age
df_measures.age.skew()

0.368108517895537

In [69]:
# Asymmetry - Height
df_measures.height.skew()

-0.598486996170113

In [70]:
# Kurtosis - Age
df_measures.age.kurtosis()

-1.1344461075421046

In [71]:
# Kurtosis - Height
df_measures.height.kurtosis()

-1.3372641199913002

In [72]:
# Get statistics measures
df_measures.age.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: age, dtype: float64

### Correlation of variables

In [73]:
# Pearson method
df_measures.corr(method="pearson")

             age    height
age     1.000000  0.931024
height  0.931024  1.000000

In [74]:
# Spearman method
df_measures.corr(method="spearman")

             age    height
age     1.000000  0.978803
height  0.978803  1.000000

In [75]:
# Correlation with 2 variables
df_measures.age.corr(df_measures.height)

0.9310236045054339