In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\ranie\AppData\Local\Temp\ipykernel_14956\3632437423.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
# Upload the archive
df_cholesterol = pd.read_csv('./datasets/dataset_cholesterol.csv')

In [5]:
# Check info
df_cholesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  1000 non-null   int64
 1   Grupo Sanguíneo     996 non-null    object
 2   Fumante             997 non-null    object
 3   Nível de Atividade  996 non-null    object
 4   Idade               997 non-null    float64
 5   Peso                997 non-null    float64
 6   Altura              997 non-null    float64
 7   Colesterol          1000 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 62.6+ KB

In [6]:
# Remove ID column
df_cholesterol.drop('Id', axis=1, inplace=True)

In [7]:
# Rename columns to remove spaces and make them lowercase
df_cholesterol.columns = [
    'blood_type',
    'smoker',
    'activity_level',
    'age',
    'weight',
    'height',
    'cholesterol'
]

In [8]:
# Copy DF to DF EDA
df_cholesterol_eda = df_cholesterol.copy()

In [9]:
# Copy DF to DF bucketing
df_cholesterol_bucketing = df_cholesterol.copy()

### EDA

In [10]:
# Visualize data
df_cholesterol_eda.head(10)

  blood_type smoker activity_level   age  weight  height  cholesterol
0          B    Sim          Baixo  33.0    85.1   186.0       199.63
1          A    Não       Moderado  68.0   105.0   184.0       236.98
2          O    Não           Alto  25.0    64.8   180.0       161.79
3          A    Não           Alto  43.0   120.2   167.0       336.24
4         AB    Não          Baixo  79.0    88.5   175.0       226.23
5          B    Não          Baixo  68.0    66.8   170.0       185.31
6          A    Sim          Baixo  60.0   117.3   181.0       289.33
7          O    Sim       Moderado  35.0    86.9   174.0       216.48
8          O    Não          Baixo  62.0    81.3   166.0       235.30
9          B    Sim           Alto  44.0    32.7   165.0        97.79

In [11]:
df_cholesterol_eda.blood_type.unique()

array(['B', 'A', 'O', 'AB', nan], dtype=object)

In [20]:
# Detect missing values
df_cholesterol_eda.isnull().sum()

blood_type        0
smoker            0
activity_level    0
age               0
weight            0
height            0
cholesterol       0
dtype: int64

In [13]:
# Statistical summary of the data
df_cholesterol_eda.describe()

              age      weight      height  cholesterol
count  997.000000  997.000000  997.000000  1000.000000
mean    49.206620   76.496690  174.889669   199.453260
std     17.476704   21.439132    8.844703    50.625152
min     20.000000   15.400000  160.000000    36.260000
25%     34.000000   61.700000  167.000000   166.345000
50%     49.000000   75.500000  175.000000   199.455000
75%     65.000000   90.200000  183.000000   233.785000
max     79.000000  158.100000  190.000000   372.670000

In [14]:
# Colect categorical data
mode_blood_type = df_cholesterol_eda.blood_type.mode()
mode_smoker = df_cholesterol_eda.smoker.mode()
mode_activity_level = df_cholesterol_eda.activity_level.mode()

In [16]:
# Colect numerical data
median_age = df_cholesterol_eda.age.median()
median_weight = df_cholesterol_eda.weight.median()
median_height = df_cholesterol_eda.height.median()

In [19]:
# Input missing values
df_cholesterol_eda.fillna(value={
    'blood_type': mode_blood_type[0],
    'smoker': mode_smoker[0],
    'activity_level': mode_activity_level[0],
    'age': median_age,
    'weight': median_weight,
    'height': median_height
}, inplace=True)